# Data Type

In [1]:
# string/character
first_name = 'Yi'

In [2]:
first_name

'Yi'

In [3]:
last_name = "Wang"

In [4]:
last_name

'Wang'

There is no difference in defining a string using single quotee or double quotes.

In [5]:
"this is a single quote ' "

"this is a single quote ' "

In [6]:
'This string encloses double quotes " '

'This string encloses double quotes " '

In [9]:
print("Hello World!")

Hello World!

In [10]:
# numeric data type 
x = 3

In [11]:
x

3

In [12]:
type(x)

int

In [13]:
y = 5

In [14]:
x + y

8

In [15]:
print(x+y)

8

In [17]:
# numeric float
x1 = 3.3 # assignment, bounding statement
y1 = 2.3

In [18]:
z= x1+ y1

In [19]:
type(z)

float

In [20]:
print(f"The sum of variables {x1} and {y1} is: {z}")

The sum of variables 3.3 and 2.3 is: 5.6

# Common data structures

In [21]:
# list
weight_of_cat = [1, 2, 3]

In [22]:
type(weight_of_cat)

list

In [38]:
my_list  = [ 2, 3, 'a millions miles away', 3.14, [1,2]] # the element [1,2] is called a nested list

In [29]:
# addressing elements in a list
my_list[3]

3.14

In [32]:
my_list[4]

[1, 2]

In [33]:
len(my_list)

5

In [34]:
my_list[-1]

[1, 2]

In [36]:
my_list[-1][0] #nested list

1

In [37]:
my_list[-1][-1]

2

In [35]:
my_list[-5]

2

In [40]:
# slicing of a list 
my_list[0:3]

[2, 3, 'a millions miles away']

In [41]:
my_list[1:4]

[3, 'a millions miles away', 3.14]

In [42]:
my_list[-3:-1]

['a millions miles away', 3.14]

In [43]:
my_list

[2, 3, 'a millions miles away', 3.14, [1, 2]]

In [44]:
my_list[: 3]

[2, 3, 'a millions miles away']

In [48]:
my_list[1: -1]

[3, 'a millions miles away', 3.14]

In [51]:
my_list[0:-1:2]

[2, 'a millions miles away']

In [49]:
my_list[::-1]

[[1, 2], 3.14, 'a millions miles away', 3, 2]

In [52]:
# A list is immutable
my_list

[2, 3, 'a millions miles away', 3.14, [1, 2]]

In [53]:
my_list[0] = 100

In [54]:
my_list

[100, 3, 'a millions miles away', 3.14, [1, 2]]

In [67]:
my_list[0:6]

[100, 3, 'a millions miles away', 3.14, [1, 2]]

In [55]:
# list is also an iterable
for item in my_list:
    print(item)

100
3
a millions miles away
3.14
[1, 2]

In [61]:
# tuple
my_tuple = ( 1, 2, 3)
my_tuple

(1, 2, 3)

In [60]:
my_tuple1 = (1,2,3,)
my_tuple1

(1, 2, 3)

In [63]:
# a tuple is not immutable
my_tuple[1] = 100

TypeError: 'tuple' object does not support item assignment

In [64]:
my_tuple[-1]

3

In [66]:
my_tuple[0:4]

(1, 2, 3)

In [68]:
my_tuple[3]

IndexError: tuple index out of range

In [69]:
# tuple is also an iterable
for item in my_tuple:
    print(item)

1
2
3

In [74]:
# dictionary: collection of (key: value) pairs
my_dictionary = { "a": 1, "b":2, "c":3 }

In [71]:
type(my_dictionary)

dict

In [72]:
my_dictionary["a"]

1

In [75]:
my_dictionary["c"]

3